@import "tailwindcss";

@theme inline {
  --color-background: #fafafa;
  --color-foreground: #171717;
  --color-poshmark: #7b2a8f;
  --color-depop: #ff2300;
  --color-therealreal: #004225;
  --color-thredup: #00a98f;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}
